fastapi
uvicorn[standard]
python-multipart
pydantic
email-validator

python-dotenv
typing_extensions

langgraph
langchain
langchain-core
langchain-openai
langsmith
openai

pymupdf
json-repair

motor
dnspython

google-cloud-storage


rank-bm25
underthesea
sentence-transformers
pinecone
